:root {
  --body-height: 100vh;
  --text-font: "Figtree", Arial, sans-serif;
  --bg-color: #f4d04e;
  --container-color: #ffffff;
  --container-width: 384px;
  --container-height: 552px;
  --layout-mode: flex;
  --layout-dir: column;
  --content-radius: 20px;
  --content-border: solid 2px black;
}
body {
  background-color: var(--bg-color);
  min-height: var(--body-height);
  font-family: var(--text-font);
  display: grid;
  place-items: center;
  margin: 0px;
}
.main {
  display: contents;
}
.container {
  background-color: var(--container-color);
  inline-size: var(--container-width);
  block-size: auto;
  display: var(--layout-mode);
  flex-direction: var(--layout-dir);
  border-radius: var(--content-radius);
  --content-border: solid 1px #111111;
  border: var(--content-border);
  gap: 24px;
  padding: 24px;
  filter: drop-shadow(7px 5px #111111);
  /* place-items: center; */
}
.wall-image > img {
  --container-width: 100%;
  inline-size: var(--container-width);
  --container-height: auto;
  block-size: var(--container-height);
  object-fit: cover;
  --content-radius: 10px;
  border-radius: var(--content-radius);
  display: block;
}
span.learn-text {
  background-color: var(--bg-color);
  inline-size: fit-content;
  block-size: fit-content;
  align-items: center;
  display: block;
  gap: 8px;
  padding-inline: 10px;
  padding-block: 12px;
  --content-radius: 4px;
  border-radius: var(--content-radius);
  font-weight: 900;
  font-size: 20px;
  line-height: 1.5;
}

.blog-date {
  inline-size: fit-content; /* Hugs the text horizontally */
  block-size: fit-content; /* Hugs the text vertically */
  /* border: 2px solid red; */
  font-weight: 500;
  font-size: 17px;
  line-height: 1.5;
}
h1 {
  height: fit-content;
  min-height: 36px;
  width: 100%;
  min-width: 336px;
  font-size: 24px;
  font-weight: 800;
}
.blog-note {
  color: #6b6b6b;
  height: fit-content;
  min-height: 36px;
  width: 336px;
  font-width: 500;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
}
.author-image {
  inline-size: 32px;
  block-size: 32px;
}
.author {
  inline-size: fit-content;
  block-size: fit-content;
  /* height: auto; */
  display: var(--layout-mode);
  gap: 12px;
  align-items: center;
}
.author p {
  font-size: 14px;
  font-weight: 800;
  margin: 0;
}

/* Extra effects */
.content > h1:hover{
  color: #F4D04E;
  cursor: pointer;
}